#about {
  background-color: #292B39;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  
}

.aboutContainer{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}


#hi{
    color: rgb(255, 255, 255); 
  } 
  
  #im-igor{
    color: #D8B835;
  }
  
  .im-igor-description{
    width:40vw;
    font-size: 1.5rem;
    text-align: left;
    color: rgb(255, 255, 255); 
    margin-right: 10vw;
    
    
  }

    
  
  
  .i-am-igor{
    display: flex;
    font-size: 4rem;
    font-weight: 900;
    padding-top: 60px;
    
  }

  .imageContainer{
    line-height: 80vh;
  }
  .imageContainer img{ 
    vertical-align: middle;
    }

