#about {
  background-color: #292B39;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  
}

.aboutContainer{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
  width: 90vw;
  align-content: center;
}


#hi{
    color: rgb(255, 255, 255); 
  } 
  
  #im-igor{
    color: #D8B835;
  }
  
  .i-am-igor{
    display: flex;
    font-size: 5vw;
    font-weight: 900;
    
    /* padding-top: 60px; */
    
  }
  .im-igor-description{
    width:40vw;
    font-size: 1.5rem;
    text-align: left;
    color: rgb(255, 255, 255); 
    
    
    
  }

  .about-igor-container{
    height: 80vh;
    width: 40vw;
    text-align: left;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    line-height: 1.6;
    

  }
 .text-info{
    margin: auto;
  }

  .imageContainer{
    line-height: 80vh;
    /* height: 100vh; */
  }
  .imageContainer img{ 
    vertical-align: middle;
    width: 40vw;
    /* padding: 50px 0 0 0; */
   
    }

@media (max-width: 800px){
  #about {
    
    height: auto;
    
  }
  .imageContainer{
    margin-top: 60px;
    line-height: 20px;
    
  }
  .about-igor-container{
    height: auto;
    width: 99vw;
    /* margin: auto;
    display: flex;
    justify-content:center;
    text-align: center; */
  }

  .text-info{
    margin: 10px;
    display: flex;
    text-align: center;
    justify-content:center;
  }

  .im-igor-description{
    width:90vw;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255); 

  }
  .i-am-igor{
    display: inline;
  }
}
    
@media (max-width: 600px){
  .im-igor-description{
    font-size: 1rem;
  }
}

.headerIcons{
  width: 25px;
}