.hi{
    color: rgb(255, 255, 255); 
} 

.im-igor{
    color: #D8B835;
  }


#about {
    background-color: #292B39;
    
  
  }
  .i-am-igor{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    padding-top: 60px;
    color: #f4f4f4;
    padding-left: 20vw;
  }