#design {
    background: radial-gradient(hsl(198, 32%, 8%), hsl(255, 18%, 35%) );
  
    /* overflow: hidden; */
    
    font-family: 'Montserrat', sans-serif;
    /* height: 100vh; */
    /* display: column; */
  }

  #prototypes{
    background: radial-gradient(hsl(198, 32%, 8%), hsl(255, 18%, 35%) );
    
    font-family: 'Montserrat', sans-serif;
    
  }

  

  #blog{
    background: radial-gradient(hsl(255, 18%, 35%), hsl(198, 32%, 8%));
    font-family: 'Montserrat', sans-serif;
    /* height: 100vh; */
  }
  


  .perspective {
    perspective: 500px;
  }

  .portfolio-projects-container{
    display:flex;
    flex-wrap: wrap;
    /* margin: 2rem; */
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin-top: 5vh;
    padding-bottom: 20px;
    align-items: flex-start;

}
 


.portfolio-project-item img{
    padding: 20px 20px;
    object-fit: cover;
    width: 15rem;
    height: 15rem;
    text-align: center;
   
}


  .project-title{
    font-size: 1.2rem;
    font-weight: 300;
    color: #D8B835;
    padding-top: 10px;
    width: 15rem;
    margin: auto;
    /* margin:  0 0 0 0; */
  }

  .supporting-image{
    width: 20px;
    padding-top: 8px;
    margin:2px;
  }

  .project-subtitle{
    color: ivory;
    width: 15rem;
    text-align: center;
    margin: auto;
  }

  .portfolio-projects-container a{
    text-decoration: none;
  }
  
 /* MOCKUPS */
  .container-design {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
    
    
    
  }
  .content-design .img-wrapper {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    /* align-items: stretch; */
    /* -webkit-align-items: stretch; */
    border: 0.5px solid #D8B835;
    border-radius: 0.5px;
  }
  .content-design .img-wrapper div {
    height: 10rem;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    /* align-self: stretch; */
    /* -webkit-align-self: stretch; */
    overflow: hidden;
    border: 0.5px solid #D8B835;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
  .content-design .img-wrapper div:hover img {
    opacity: 1;
    transform: scale(1.05) rotate(0.4deg);
  }
  
  .content-design .img-wrapper .img-one {
    width: 10rem;
  }
  .content-design .img-wrapper .img-two {
    width: 15vw;
  }
  .content-design .img-wrapper .img-three {
    width: 15vw;
  }
  .content .img-wrapper .img-four {
    width: 15vw;
  }
  .content-design .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: all 200ms ease-in-out;
  }

  @media (max-width:900px){
    #design{
      height: auto;
    }
    #blog{
      
      height: auto;
    }
  }