body{

    background: radial-gradient(hsl(198, 32%, 8%), hsl(255, 18%, 35%) );
}

.container-title{
    font-size: 3rem;
    /* font-weight: 600; */
    color: white;
    padding-top: 52px;
    /* height: 20vh; */
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.fluz-mockups-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    margin-top: 50px;
    width: 100vw;
    justify-content: center;
    
}

.mockup-item img{
    width: 250px;
    padding: 10px;
}