*{
 margin:0;
 padding: 0;
 /* overflow-y: auto; */
 /* overflow-x: hidden; */
 
 
}



body {
    background:white;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    /* height: 100vh; */
    /* overflow: auto; */
  }
html, body {
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    justify-content: center;
  }







/* NAVBAR */

.navbar-contaienr{
  width: 100%;
  height: 100vh;
  /* overflow-y: scroll;
  scroll-behavior: smooth; 
  scroll-snap-type: y mandatory; */
}

.navbar{
    position: fixed;
    display: flex;
    top:0;
    z-index: 5;
    color: aliceblue;
    width: 100%;
    /* height:60px; */
    background:rgb(0, 0, 0);
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 110px; 
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
  }

.navbar ul{
    display: flex;
    list-style:none;
    width: 100vw;
    justify-content: center;
   

  }
.navbar ul li{
  margin: 0, 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  /* text-transform: uppercase; */
  color: #f4f4f4;

}

.navbar ul li a:hover{
color:#D8B835;

}



section{
  width:100%;
  /* height: 100vh; */
  /* display: flex; */
  scroll-snap-align: center;
}



/* IGOR'S PARTICLE FACE  */
#dots {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 35%;
  /* left: 50%; */
  /* margin-top: -20vh; */
  /* margin-left: -375px; */
  width: 30%;
  z-index: 1;
}


#defaultCanvas0{
 
  position: absolute;
  z-index: 0;
  top:0px;
  left:0;
  width:100%!important;
  height: 100vh!important;
}




/* ABOUT */






  .tabs .tab a {
    color: white!important;
  }

  

 


/* IGOR KALMYKOV PRODUCT DESIGNER */



.myName{
  top: 70vh;
  /* top:800px; */
  position: relative;
  z-index: 3;
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
  color: rgba(255, 255, 255, 0.7);
  font-size: 15vw;
  font-family: ocr-a-std, monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 8px;
}

#name{
  font-size: 4vw;
  margin-bottom: 0px;
  text-transform: uppercase;
}
#title{
  font-weight: 100;
  font-size: 35px;
  margin-top: 0px;
}








@media (max-width: 600px) {
 
  #dots{
    display: none;
  }
  #defaultCanvas0{
    display: none;
  }
  section#home{
    height:52px;

  }
 
  .eye{
    display: none;
  }
}