body {
    background:white;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    /* overflow: hidden; */
    margin: 0px;
  }
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  /* ======MENU */
  .menu{
    position: relative;
    z-index: 4;
    text-align: center;
    top:30px;
  }
  .tabs{
    color:white!important;
    background-color:transparent!important;
  }
  
  
  .tabs .tab a {
    color: white!important;
  }

  #dots {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* top: 30%; */
    /* left: 50%; */

    margin-top: 150px;
    /* margin-left: -375px; */
    z-index: 1;
  }
 

  #defaultCanvas0{
    /* top:0; */
    /* margin-top: 0px; */
    position: absolute;
    z-index: 0;
    top:0px;
    left:0;
    width:100%!important;
}

  .headerContainer{
    text-align: center;
    
  }


  .aboutContainer{
    /* top:1000px;
    /* position: absolute;
    /* z-index: 2; */
    text-align: center;
    
  }


.myName{
  top: -200px;
  position: relative;
  z-index: 3;
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
  color: white;
  font-size: 25px;
  font-family: ocr-a-std, monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 8px;
}

#name{
  font-size: 55px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
#title{
  font-weight: 100;
  font-size: 35px;
  margin-top: 0px;
}






/* =====ABOUT ME */
.aboutMe{
  text-align: left;
  font-size: 20px;
  margin-right: 40px;
}
.heyIamIgor{
  font-size: 40px;
  font-weight: 600;

}
.igor-img{
  width:650px;
}

.title{
  margin-top: 70px;
  margin-bottom: 20px;
}


.underline{
  border-bottom: 7px solid;
  border-bottom-color:#ee6e73;
  width:auto;
  /* text-transform: uppercase; */
  font-family: ocr-a-std, monospace;
}