

  /* section{
    background-color: #282828;
  } */
#case-study{

  padding-top: 50px;
  background-color: #282828;
  background-image:linear-gradient(#434343, #282828);
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  /* height:100vh; */
  background-size:25px 25px;
  font-family: 'Montserrat', sans-serif;
  
}

#case-study-2{

  padding-top: 50px;
  background-color: #282828;
  background-image:linear-gradient(#434343, #282828);
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  /* height:100vh; */
  background-size:25px 25px;
  font-family: 'Montserrat', sans-serif;
  
}

.case-study-container-title{
  font-size: 3rem;
  /* font-weight: 600; */
  color: white;
  padding-top: 40px;
  /* height: 20vh; */
  
}

.title-small{
  font-size: 1rem;
  /* font-weight: 600; */
  color: white;
  padding-top: 20px;
  /* height: 20vh; */
  
}



.subtitle{
  font-size: 2rem;
  line-height: 1.6;
  width: 60vw;

  /* font-weight: 600; */
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  /* height: 20vh; */
}

.subtitle-2{
  color: white;
  font-size: 1rem;
  width: 60vw;
  text-align: center;
  /* display: flex; */
  justify-content: center;
  /* margin-left: 50px; */
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle-container{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.case-study-container-subtitle-level{
  font-size: 1.2rem;
  /* font-weight: 600; */
  color: white;
  line-height: 1.5rem;
  font-weight: 500;
  padding-top: 40px;
  /* width: 50%; */
}

.case-study-container-subtitle{
  font-size: 1.2rem;
  /* font-weight: 600; */
  color: white;
  padding-top: 20px;
}

/* COMPANIES LOGOS */
.companies-logos{
width:200px;
height: 50px;
margin: 30px 50px 30px 50px;
filter: grayscale(100%);
opacity: 0.5;
/* margin-top: 30px; */
}


@media (max-width:900px){
  #case-study{
    height:auto;

  }
}

@media (max-width:900px){
  #case-study-2{
    height:auto;

  }
}